@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black;
  }

  #hero {
    background-color: black;
    background-image: linear-gradient(
        to bottom,
        black 0%,
        black 33%,
        transparent 100%
      ),
      url("/images/hero.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }

  #appointment {
    background-color: beige;
    background-image: linear-gradient(
        35deg,
        transparent 0%,
        beige 42%,
        beige 100%
      ),
      url("/images/appointment.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
  }

  @media (min-width: 640px) {
    body {
      background-image: linear-gradient(
          to left,
          transparent 0%,
          black 22.5%,
          black 100%
        ),
        url("/images/hero.avif");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    #hero {
      background: none;
    }
  }

  /* 2560px (1440p) */
  @media screen and (min-width: 160em) {
    html {
      font-size: clamp(1em, 1em + 1vw, 1.5em);
    }
  }

  /* 3200px ( (1440p + 4K) / 2 ) */
  @media screen and (min-width: 200em) {
    html {
      font-size: clamp(1em, 1em + 1vw, 1.75em);
    }
  }

  /* 3840px (4K) */
  @media screen and (min-width: 240em) {
    html {
      font-size: clamp(1em, 1em + 1vw, 2em);
    }
  }
}
